
  <h4 class="calc"><%= strings.FinanceTitle %></h4>
  <table>
    <tr>
      <td><%= strings.ConfiguredPriceLabel %></td>
      <td align="right"><% if(lang === 'en') { %>$ <% } %><%= displayPrice %><% if(lang === 'fr') { %> $<% } %></td>
    </tr>
  </table>
  <table>
    <tr>
      <td valign="bottom" width="300">
        <%= strings.TermLabel %>
        <button class="term btn" data-term='24'>24</button>
        <button class="term btn" data-term='36'>36</button>
        <% if(variableTerms.show39) { %>
          <button class="term btn" data-term='39'>39</button>
        <% } %>
        <button class="term btn" data-term='48'>48</button>
        <% if(variableTerms.show60) { %>
          <button class="term btn" data-term='60'>60</button>
        <% } %>
        <% if(variableTerms.show72) { %>
          <button class="term btn" data-term='72'>72</button>
        <% } %>
        <% if(variableTerms.show84) { %>
          <button class="term btn" data-term='84'>84</button>
        <% } %>
      </td>
      <td align="right"><%= data.term %></td>
    </tr>
  </table>
  <table style="margin:26px 0 18px 0;">
    <tr>
      <td valign="middle"><%= strings.DownpaymentLabel %></td>
      <td align="right"><% if(lang === 'en') { %>$ <% } %><input type="text" id="txtDownPmt" style="width:55px;margin-bottom:0px;" value="<%= data.downPayment %>" /><% if(lang === 'fr') { %> $<% } %></td>
    </tr>
    </table>
    <hr class="dotted" />
    <table>
    <tr>
      <td width="50%" valign="middle" align="center">
        <%= strings.MonthlyPaymentLabel %>
        <h1><% if(lang === 'en') { %>$ <% } %><%= payment %><% if(lang === 'fr') { %> $<% } %> <sup>*</sup></h1>
      </td>
      <td width="50%" valign="middle" align="center"> 
        <%= strings.InterestRateLabel %>
        <h1><%= data.interestRate %> <sup>%</sup></h1>
      </td>
    </tr>
    </table>
    <hr class="dotted" />
    <table width="100%" >
    <tr>
      <td align="right">
        <button class="btn btn-large calculator-submit pull-right" id="caclulatePayment"><%= strings.CalculateLabel %></button>
      </td>
    </tr>
    </table>
